@import './mixins/flexbox.scss';
@import './mixins/position.scss';
@import './mixins/text-style.scss';
@import './constants/colors';
@import './modules/buttons.module.scss';
@import './mixins/mediaqury.scss';
@import './mixins/container.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
