//mymoim
@import '../shared/common.scss';

.mymoim-layout {
    max-width: $tablet;
    height: auto;
    margin: 50px auto;

    .toogle-layout {
        position: sticky;
        min-width: 100%;
        height: 100%;
        overflow-x: scroll;
        border-bottom: 1px solid #eee;

        .toogle-container {
            min-width: 480px;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }
    .mymoim-list {
        overflow-y: auto;
        height: calc(100vh - 150px);
    }

    //mymoim - create , join, liked, comment
    .mymoim-contents {
        max-width: $tablet;
        background-color: #eee;
        .contents-none {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            p {
                margin-top: 10rem;
                color: $text-gray;

                font-size: 1rem;
            }
            button {
                margin-top: 7rem;
                color: $text-gray;
                background-color: #fff;
                border: 1px solid $secondary;
                border-radius: 0.5rem;
                font-size: 0.8rem;
                padding: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;

                &:hover {
                    background: $primary;
                    color: $white;
                }
            }
        }

        .postbox {
            width: 100%;
            height: auto;
            border: none;
            background: $white;
            margin-bottom: 1rem;
            box-sizing: border-box;

            .location {
                @include text-style-12(12px, 0.15px, $text-gray);
                display: flex;
                align-items: flex-end;
                height: 40px;
                margin-left: 2rem;
                line-height: 1.2rem;
            }

            .titlebox {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: left;
                margin-left: 2rem;

                .title {
                    @include text-style-16(24px, 0.15px, #2e3a59);
                    margin-top: 1rem;
                }
                .comments {
                    @include text-style-14(20px, 0.15px, gray);
                    margin-top: 0.5rem;
                }
            }

            .etcbox {
                @include text-style-12(12px, 0.15px, $text-gray);
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 1rem 2rem;

                .writer {
                    padding-right: 1rem;
                }

                .join {
                    display: flex;
                    align-items: center;
                }
            }

            .commentbox {
                @include text-style-12(12px, 0.15px, $text-gray);
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;
                border-top: 1px solid #eee;
                padding: 0rem 2rem;

                div {
                    display: flex;
                    align-items: center;
                    margin-right: 1rem;
                }
            }
        }
    }

    //mycomment
    .mycomment-titlebox {
        padding: 1rem 2rem;
        .title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            font-size: 1rem;
            line-height: 24px;
            color: $black;
            svg {
                color: $text-gray;
                font-size: 1rem;
            }
        }
        .comments {
            font-size: 0.75rem;
            line-height: 24px;
            color: $text-gray;
        }
    }
}
