//mymoim
@import '../shared/common.scss';

.mymoim-layout {
    width: 100%;
    flex-direction: column;
    align-content: center;

    .toogle-layout {
        position: sticky;
        height: 50px;
        overflow-x: scroll;

        .toogle-container {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-evenly;

            @include toogle {
                width: 480px;
                display: block;
            }
        }
    }
    .mymoim-list {
        overflow-y: auto;
        height: calc(100vh - 150px);
    }
}

//mymoim - create , join, liked, comment
.mymoim-contents {
    @include container();

    .postbox {
        width: 100%;
        height: auto;
        border: none;
        background: $white;
        margin-bottom: 20px;

        .titlebox {
            display: flex;
            justify-content: space-between;
            padding: 16px;
        }
    }
}
