@import '../shared/common.scss';
@import '../shared/modules/buttons.module.scss';
@import '../routine/layouts.module.scss';

.next-btn {
    @include primary-btn();
    @include text-style-14(16px, 0.15px, $white);
    transform: translateX(0);
}

.routine-container {
    @include column-flexbox();
    width: 100%;
}

.routine {
    @include flexbox(between, center);
    width: 100%;
    height: 60px;
    border: none;
    background-color: $white;
    border-bottom: 1px solid #eeeeee;
    span {
        @include text-style-14(24px, auto, inherit);
        font-weight: 500;
        margin: 15px 0;
    }
}

.routine-add-title {
    @include column-flexbox(center, start);
    margin-top: 20px;
    width: 100%;
    h3 {
        @include text-style-18(16px, auto, black);
        margin-bottom: 8px;
    }
    span {
        @include text-style-12(16px, auto, $text-gray);
    }
}
