@import '../shared/common.scss';
@import '../shared/modules/buttons.module.scss';
@import '../routine/layouts.module.scss';

.next-btn {
    @include primary-btn();
    @include text-style-14(1rem, 0.009, $white);
    @include pos-center-x(fixed);
    bottom: 0;
    // @media screen and (min-width: 768px) {
    //     @include pos-center-x(fixed);
    // }
}

.routine-container {
    @include column-flexbox();
    width: 100%;
    max-width: 768px;
}

.routine {
    @include flexbox(between, center);
    width: 100%;
    height: 3.75rem;
    border: none;
    background-color: $white;
    border-bottom: 1px solid #eeeeee;
    span {
        @include text-style-14(1.5rem, auto, inherit);
        font-weight: 500;
        margin: 0.938rem 0;
    }
    &:last-child {
        margin-bottom: 4rem;
    }
}

.routine-add-title {
    @include column-flexbox(center, start);
    margin-top: 1.25rem;
    width: 100%;
    max-width: 768px;
    h3 {
        @include text-style-18(1rem, auto, black);
        margin-bottom: 0.5rem;
    }
    span {
        @include text-style-12(1rem, auto, $text-gray);
    }
}

.select-priamry {
    color: $primary !important;
}
