@import '../shared/common.scss';

.habit-box {
    width: 24px;
    height: 24px;
    background-color: #f9f9f9;
    margin: 4px;
    border-radius: 4px;
}

.habit-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 90vw;
    height: 130px;
    place-items: center center;
    margin: 0;
    background-color: $white;
    border-radius: 8px;
    margin-bottom: 30px;
}

.day-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 90vw;
    height: 130px;
    place-items: center center;
    margin: 0;
    background-color: $white;
    border-radius: 8px;
    margin-bottom: 30px;
}

.habit-box-dark {
    width: 24px;
    height: 24px;
    background-color: $gray;
    margin: 4px;
    border-radius: 4px;
}

.habit-title {
    @include text-style-18(16px, auto);
    width: 141px;
    height: 16px;
    margin: 30px 0;
}
