@import '../shared/mixins/flexbox.scss';
@import '../shared/common.scss';

.container {
    width: 100vw;
    padding: 0 1rem;
    height: 100vh;
    @include column-flexbox(start, center);
    position: relative;
    max-width: 768px;
}

.routine-layout {
    width: 100vw;
    @include flexbox();
}
