@import '../shared/common.scss';

.option-container {
    @include column-flexbox(center, center);
    position: fixed;
    bottom: 8.75rem;
    width: 100vw;
    height: 8.75rem;
    background-color: $white;
    border: 1px solid $primary;
    button {
        width: 10rem;
        border: none;
        background-color: inherit;
        height: 8.75rem;
        @include text-style-16(1rem, auto, $black);
    }
}
