@import '../constants/colors';
@import '../mixins/flexbox.scss';
@import '../mixins/position.scss';

@mixin primary-btn() {
    width: 100%;
    height: 56px;
    background-color: $primary;
    bottom: 0;
    border: none;
    position: fixed;
    right: 0;
    max-width: 768px;
    // transform: translateX(-50%);
}

@mixin add-btn() {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $primary;
    color: $white;
    bottom: 87px;
    position: fixed;
    right: 10%;
    border: none;
    font-size: 35px;
}
