@import '../constants/colors';

@mixin text-style-12($lh, $ls, $color: $black) {
    font-size: 12px;
    line-height: $lh;
    letter-spacing: $ls;
    color: $color;
}

@mixin text-style-14($lh, $ls, $color: $black) {
    font-size: 14px;
    line-height: $lh;
    letter-spacing: $ls;
    color: $color;
}

@mixin text-style-16($lh, $ls, $color: $black) {
    font-size: 16px;
    line-height: $lh;
    letter-spacing: $ls;
    color: $color;
}

@mixin text-style-18($lh, $ls, $color: $black) {
    font-size: 18px;
    line-height: $lh;
    letter-spacing: $ls;
    color: $color;
}
