//character
@import '../shared/common.scss';
@import '../shared/modules/buttons.module.scss';

.addchar-container {
    @include flexbox();
    flex-direction: column;
    padding: 2rem 0;

    .addchar {
        @include flexbox();
        width: 7.5rem;
        height: 7.5rem;
        padding: 1rem;
        font-size: 2.25rem;
        border: dashed 2px #b8c0c4;
        background-color: #dedede;
        color: #b8c0c4;
        border-radius: 50%;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    p {
        padding: 0.625rem 0;
        text-align: center;
    }
}

.char-container {
    @include flexbox();
    flex-direction: column;
    color: $black;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100%;

    .char {
        width: 7.5rem;
        height: 7.5rem;
    }
}

.color {
    color: $primary;
}

.modal-container {
    width: 100vw;
    height: 100vh;
        .modal {
            @include column-flexbox();
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 25rem;
            height: 100%;
            padding: 5rem 1rem 9.1rem 1rem;
            background: $white;
            z-index: 2;
            justify-content: start;
            @media screen and (max-height: 568px) {
                padding: 4rem 1rem 9.1rem 1rem;
            }

            .charName {
                font-size: 1.125rem;
                font-weight: 500;
                width: 100%;
                color: #2E3A59;
                padding-bottom: 0.5rem;
            }

            .subTitle{
                width: 100%;
                color: #A5ABB0;
                font-size: 0.75rem;
            }

            .charlevelbox {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                text-align: center;
                padding: 0.75rem;
                border: 1px solid lightgray;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                margin: 1rem;
                @media screen and (max-height: 568px) {
                    margin: auto;
                }
                .charlevel {
                    &:nth-of-type(1) {
                        color: black;
                    }
                    &:nth-of-type(2) {
                        color: #949bff;
                    }
                    &:nth-of-type(3) {
                        color: #6b76ff;
                    }

                    span {
                        font-size: 0.75rem;
                    }

                    img {
                        width: 3.5rem;
                        height: 3.5rem;
                        margin-top: 0.5rem;
                        border: none;
                    }
                }
            }
        }

        .newchar {
            @include column-flexbox();

            img {
                width: 8rem;
                height: 8rem;
                border: none;
                margin: 1rem 0;
                @media screen and (max-height: 568px) {
                    width: 6rem;
                    height: 6rem;
                    margin: auto 0;
                }
            }
            p {
                @include text-style-12(1rem, auto);
                font-size: 0.75rem;
                color: #2E3A59;
                line-height: 18px;
                text-align: center;
            }
        }

    .close-btn {
        @include flexbox();
        position: fixed;
        background-color: #6B76FF;
        color: $white;
        font-size: 1rem;
        font-weight: 500;
        height: 4rem;
        width: 100%;
        bottom: 4rem;
        z-index: 7;
    }
}

