//character
@import '../shared/common.scss';

.addchar-container {
    @include container();
    padding: 30px 0;

    .addchar {
        @include flexbox();
        width: 120px;
        height: 120px;
        padding: 16px;
        font-size: 36px;
        border: dashed 2px #b8c0c4;
        background-color: #dedede;
        color: #b8c0c4;
        border-radius: 50%;
        cursor: pointer;
    }

    p {
        padding: 10px 0;
        text-align: center;
    }
}

.char-container {
    @include container();
    color: $black;
    font-size: 16px;
    .char {
        width: 120px;
        height: 120px;
    }
}

.color {
    color: $primary;
}

.modal-container {
    .modal-bg {
        @include flexbox();
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;

        .modal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 400px;
            height: 75vh;
            padding: 3rem 1rem 2rem;
            background: $white;
            z-index: 6;
            @media screen and (max-width: 480px) {
                width: 340px;
            }
            @media screen and (max-width: 330px) {
                width: 280px;
            }

            .charName {
                font-size: 1.125rem;
                span {
                    font-size: 0.75rem;
                }
            }

            .charlevelbox {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                text-align: center;
                padding: 0.75rem;
                border: 1px solid lightgray;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                margin: 1rem;
                .charlevel {
                    &:nth-of-type(1) {
                        color: black;
                    }
                    &:nth-of-type(2) {
                        color: #949bff;
                    }
                    &:nth-of-type(3) {
                        color: #6b76ff;
                    }

                    span {
                        font-size: 0.75rem;
                    }

                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                        margin-top: 0.75rem;
                        border: none;
                    }

                    // &::after {
                    //     width: 2rem;
                    //     display: block;
                    //     content: '';
                    //     border: dotted 1px $primary;
                    //     transform: translate(-75px, -55px);
                    // }
                    // &:nth-of-type(1)::after {
                    //     display: none;
                    // }
                }
            }
        }

        .newchar {
            @include column-flexbox();

            .newimg {
                width: 10rem;
                height: 10rem;
                border: none;
            }
            p {
                @include text-style-12(1rem, auto);
                font-size: 0.75rem;
                line-height: 18px;
                text-align: center;
            }
        }

        .close-btn {
            @include flexbox();
            @include text-style-16(1rem, auto, $white);
            cursor: pointer;
            border: 1px solid #fff;
            padding: 5px;
            width: 100%;
            text-align: center;
            margin-top: 2.5rem;
            height: 3rem;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            background-color: $primary;
        }
    }
}
