// * shared
$white: #ffffff;
$primary: #6b76ff;
$secondary: #d8dbff;

// * text
$black: #000;
$text-gray: #a5abb0;

// * background
$light-gray: #f9f9f9;
$gray: #ececec;
$dark-gray: #d2d2d2;

$coral: #fd8787;
