@import '../shared/common.scss';

.chat-zone {
    @include column-flexbox(start, center);
    width: 100vw;
    height: 100vh;
    padding-top: 3rem;
}

.chat-others-container,
.chat-me-container {
    width: 100%;
    max-width: 768px;
    background-color: lavender;
}

.chat-me-container {
    @include flexbox(end, center);
    .chat-time {
        margin-right: 3rem;
    }
}

.chat-title {
    @include text-style-12(0.75rem, auto);
    margin-bottom: 1rem;
}

.chat-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include text-style-14(21px, 0.15px);
    height: 2.313rem;
    flex-wrap: wrap;
    max-width: 250px;
    background-color: $gray;
    padding: 0.2rem 1.2rem;
    border-radius: 16px;
}

.chat-time {
    font-size: 0.625rem;
    color: $text-gray;
    margin-left: 2rem;
}
