//Moim-main
@import '../shared/common.scss';
@import '../shared/modules/buttons.module.scss';

.moim-main-layout {
    width: 100vw;
    @include column-flexbox(center, center);
    padding-top: 3rem;
    padding-bottom: 65px;
}

.post-warp {
    width: 100vw;
    max-width: 768px;
    @include column-flexbox(center, center);
    background-color: $bg-light-gray;
}

//PostDesc
.moim-post-box {
    @include column-flexbox(center, start);
    width: 100%;
    max-width: 768px;
    background-color: $white;
    padding: 0 2rem;

    .location {
        @include text-style-12(0.75rem, 0.15px, $text-gray);
        padding: 2rem 0;
    }
    .title {
        @include text-style-18(0.75rem, 0.15px, $black);
        font-weight: 700;
        padding: 0.5rem 0;
    }
    .content {
        @include text-style-14(1.25rem, 1.2px, $black);
        padding: 0.5rem 0;
    }
    .imgbox {
        @include flexbox(center, center);
        width: 100%;

        img {
            width: auto;
            height: 10rem;
        }
    }

    .post-info {
        @include flexbox(between, center);
        width: 100%;
        padding-bottom: 0.5rem;
    }
    span {
        @include text-style-12(1.5rem, auto, $text-gray);
    }
}

.ectbox {
    @include flexbox(start, center);
    width: 100%;
    margin-bottom: 2rem;
    max-width: 768px;
    background-color: $white;
    border: 1px solid $bg-light-gray;
    height: 2.5rem;
    padding-left: 2rem;
    .icon-text {
        @include flexbox(center, center);
        span {
            @include text-style-12(12px, 0.15px, $text-gray);
        }
        &:first-child {
            margin-right: 2.188rem;
        }
    }
}

.moim-add-btn {
    @include add-btn();
}
