@import '../shared/common.scss';

.auth-layout {
    @include flexbox();
    width: 100%;
    padding: 70px 16px;
    border: none;
    flex-direction: column;

    .logo {
        color: $primary;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.15px;
        line-height: 24px;
        padding: 12px;
        margin-bottom:30px;
    }

    .input-container {
        @include flexbox();
        flex-direction: column;
        width: 328px;

        input {
            width: 100%;
            height: 48px;
            padding: 16px;
            margin: 10px;
            border: 1px solid lightgray;
            font-size: text-style-14($text-gray);
            &::placeholder {
                color: $text-gray;
            }
        }
    }
}

@mixin auth-button($bg, $color) {
    @include flexbox();
    width: 100%;
    height: 48px;
    background-color: $bg;
    color: $color;
    border: none;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 14px;
    text-decoration: none;
}

.btn-container {
    width: 328px;

    .login-btn {
        @include auth-button($primary, $white);
        margin-top:30px;
    }

    .kakao-btn {
        @include auth-button(#faef3f, $black);
    }
    .naver-btn {
        @include auth-button(#2db400, $white);
    }

    .google-btn {
        @include auth-button(#ef5350, $white);
    }

    .signup-btn {
        @include auth-button($primary, $white);
        margin-top:30px;
    }

    .main-btn {
        @include auth-button($secondary, $black);
    }
}

.slogin-title {
    @include flexbox();
    hr {
        width: 109px;
        color: gray;
    }
    h3 {
        color: $text-gray;
        font-size: 14px;
        padding: 16px;
    }
}
